<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="User" class="cn.edu.xaut.entity.User">
        <property name="username" value="zfw"/>
        <property name="password" value="123"/>
    </bean>
    <bean id="UserDAO" class="cn.edu.xaut.entity.UserDAOImpl"/>
    <bean id="UserService" class="cn.edu.xaut.service.UserServiceImpl">
        <property name="user" ref="User"/>
        <property name="userDAO" ref="UserDAO"/>
    </bean>
    
    <!-- more bean definitions go here -->

</beans>